<nav>
  <div class="site-title">
    <h1 class="logo">Droid Blog</h1>
    <p class="alt-logo">I want to be Droid</p>
  </div>
  <ul>
    <li><a href="/"> Blogs</a></li>
    <li><a href="/about"> About </a></li>
    <li><a href="/blogs/newblog"> New Blog </a></li>
    <li><a href="/login"> Login </a></li>
    <li><a href="/register"> Register </a></li>
    <li><a href="/logout"> Logout</a></li>
  </ul>
</nav>
