<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blog content">
      <h2 class="line">OOOOOOOps Error</h2>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
