<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="form-popup" id="myForm">
      <form action="/login" method="POST" class="form-container">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required />
        <label for="password"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">
          Close
        </button>
        <div class="form-container signin">
          <p>Do not have an account? <a href="/Register">Register</a>.</p>
        </div>
      </form>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
